$black-veil: rgba(0, 0, 0, 0.776);
$black-color: rgb(57, 57, 57);
$dark-grey-color: rgb(213, 213, 213);
$light-grey-color: rgb(230, 230, 230);
$very-light-grey-color: rgb(238, 238, 238);
$super-light-grey-color: rgb(249, 249, 249);
$white-color: white;
$transparent: rgba(255, 255, 255, 0);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: $black-color;
}

button {
	font-size: 1.2rem;
	text-align: left;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
}

body {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 15% 75% 10%;
	grid-template-areas: 'header header' 'navbar main' 'footer footer';

	header,
	footer {
		background-color: $black-color;

		* {
			color: $white-color;
		}
	}

	header {
		grid-area: header;
		display: flex;
		align-items: center;
		padding: 2rem;

		h1 {
			font-size: 3rem;
		}
	}

	.nav-bar {
		grid-area: navbar;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 3rem;
		background-color: $light-grey-color;

		div {
			display: inherit;
			flex-direction: inherit;
			gap: 0.5rem;

			button {
				background-color: $transparent;

				&:hover {
					background-color: $dark-grey-color;
				}

				&.selected {
					background-color: $dark-grey-color;
					font-weight: bold;
				}
			}

			h3 {
				font-size: 1.7rem;
			}
		}

		// .static-nav {}

		// .projects-nav {}
	}

	.main-content {
		grid-area: main;
		padding-top: 3rem;
		display: flex;
		justify-content: center;

		.project-container {
			width: 80%;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			h2 {
				font-size: 2rem;
				font-weight: normal;
			}

			.tasks-container {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				.single-task-container {
					width: 100%;
					background-color: $super-light-grey-color;

					&:hover {
						background-color: $very-light-grey-color;
					}

					display: flex;
					flex-direction: column;
					// align-items: flex-start;
					// justify-content: space-between;
					// border: none;
					// border-radius: 5px;
					// padding: 0.5rem;
					// flex-wrap: wrap;
					
					.task-header {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						border: none;
						border-radius: 5px;
						padding: 0.5rem;
						
						.task-header-left-side {
							display: flex;
							align-items: center;
							gap: 0.5rem;

							.task-checkbox {
								font-size: 1.2rem;
								width: 1rem;
								height: 1rem;
							}
	
							.task-label {
								font-size: 1.2rem;
							}
	
							.project-reminder {
								font-size: 0.75rem;
								text-align: center;
							}
						}

						.task-header-center {
							.description-btn {
								font-size: 0.85rem;
								padding: 0.2rem;
								background-color: $transparent;
	
								&:hover {
									// font-size: 0.9rem;
									text-decoration: underline;
								}
							}
						}

						.task-header-right-side {
							.task-due-date {
								font-size: 1.2rem;
							}
						}
					}

					.description-container {
						padding: 1rem;
						display: flex;
						align-items: center;
						justify-content: center;

						.task-description {
							font-size: 1rem;
						}

						&.hidden {
							display: none;
						}
					}

					.check-label-container {
						display: flex;
						gap: 1rem;
						align-items: center;

						
					}

					

					.due-date-container {
						display: flex;
						align-items: center;
						gap: 1rem;

						
					}
				}
			}

			.add-task-btn {
				background-color: $transparent;

				&:hover {
					background-color: $very-light-grey-color;
				}
			}
		}
	}

	footer {
		grid-area: footer;
		padding: 2rem;
		display: flex;
		justify-content: center;
	}

	.overlay {
		width: 100vw;
		height: 100vh;
		background-color: $black-veil;
		z-index: 1;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;

		&.hidden {
			display: none;
		}

		.form-container {
			border-radius: 10px;
			background-color: white;
			display: flex;
			flex-direction: column;
			align-items: center;

			// &.hidden {
			// 	display: none;
			// }

			.form-close-btn {
				align-self: flex-end;
				text-align: end;
				margin: 1rem;
				padding: 0.25rem;
				border-radius: 50%;
				aspect-ratio: 1 / 1;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background-color: $dark-grey-color;
				}
			}

			h2 {
				font-size: 2rem;
				font-weight: normal;
			}

			form {
				padding: 3rem;
				padding-top: 1rem;
				border: none;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				align-items: stretch;

				label {
					font-size: 1.2rem;
				}

				input {
					font-size: 1.2rem;
					padding: 0.5rem;
				}

				input[type="submit"] {
					align-self: center;
					font-size: 1rem;
					padding: 0.5rem 1rem;
					border: none;
				}
			}
		}
	}
}
